$white: #FFFFFF;
$black: #000000;
$red: red;
$purple: #a100ff;
$gray: #79747E;
$off-white: #FFFBFE;
$card-title-black: #1C1B1F;
$card-title-gray: #49454F;
$logo: #A100FF;
$smoke-white: whitesmoke;
$parallax-background: #ccc;
$border_outline : #cdd6d7;
$request_tab_background : #f9f9f9;
$dim_black : #747681;
$red : #da0000;
$fade_line_stripe : #7c7c7c;
$yellow : #ffb800;
$footer-textColor : #C4C4C4;
$calendar-background : #F8F8F8;
$calendar-week-button : #C7C7C7;
$calendar-month-button : #8E02DF;
$header-icon-black: rgba(0, 0, 0, 0.2);
$header-icon-black-2: rgba(0, 0, 0, 0.9);
$header-icon-white: rgba(256, 256, 256, 0.2);
$wrapper-background1: #420285;
$wrapper-background2: #08BDBD;
$carousal-filter: #555;
$carousal-background: #d7f7fc;
$plan-your-metaverse-border-line : #f5f5f5;
$plan-your-metaverse-tick-mark-icon: #00d147;
$disabled_number_color : #C4C4C4;
$background_disabled : #eff0f7;
$home-icon-text-gray: #9E9CA0;
$coming-soon-btn-background: #96968c;
$stepper-inprogress-step-background: #A100FF;
$stepper-completed-step-background: #00D147;
$font_stack_italicText: #333333;
$myRequests-background: #F6F6F6;
$myRequests-dataTitle: #9FA2B4;
$calendarEvent-text-color: #34B53A;
$calendar-border: #ddd;
$footer-arrow-icon-color: #49454F;
$gray-color : #9FA2B4;
$request-details-background-color : #F2F2F2;
$toggleButton-background: #F0F0F0;
$toggleButton-textColor: #0A0A0A;
$tabNameTextColor: #666666;
$submitButton-disabled: #CCCCCC;
$popupInputBox-underline: #D4D4D4;
$popup-requestData: #5E5E5E;
$popup-comments: #999999;
$readMore: #1967D2;
$selectedCardColorFooter: rgba(235, 235, 235, 0.9);
$pills-color: rgba(33, 33, 33, 0.08);
$session-request-background: rgba(234, 234, 234, 0.8);
$session-request-created-date: #666666;
$delete-popup-background: rgba(196, 196, 196, 0.3);
$delete-popup-text: #5e5e5e;
$popup-dividerline: #DBDBDB;
$horizontal-bar-background : #EAEAEA;
$vertical-bar : #BEBEBE;
$takeActionDropdown-border: #E8E8E8;
$pendingText: #FE7020;
$confirmText: #159600;
$expPendingText: #FFB800;
$readMore: #1967D2;
$completeBackground: #EDFFF3;
$sortText: #4B506D;
$optionBorder: #E3E3E3;
$incomplete-steps-color : #6F6C90;
$co-create-metverse-background: #F3F3F3;
$createMetaverse-headingText: #C567FF;
$superAdminPopup-scrollbarColor: #D9D9D9;
$cancelledBackground: #F1F1F1;
$notesBackgroud: #EEEEEE;
$notesseparator: #CFCFCF;
$black-shade: #010101;
$carousal-button: #682692;
$scrollbar-thumb: rgba(255, 255, 255, 0.2);
$scrollbar-track: rgba(255, 255, 255, 0.05);
$carousal-last-button: rgb(0 0 0 / 30%);
$horizontal-line-background-color : #E5E5E5;
$disable-submit-button: #CCCCCC;
$filter-panel:rgba(0, 0, 0, 0.25);
$commonHeader-metaverseText: #F343AE;
$greyLineSeperator: #D1D1D1;
$footer-text: #D8D8D8;
$blaceLightShade: #1F1F1F;