@mixin font_stack($weight: 200, $size: 24px) {
  font-family: "Graphik";
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
}

@mixin font_stack_italic($weight: 200, $size: 24px) {
  font-family: "Graphik";
  font-style: italic;
  font-weight: $weight;
  font-size: $size;
}

