@import "../../theme/theme";
.container {
  margin: 10px;
}

.card-container {

    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        border-radius: 12px !important;
        margin: 5px;
        min-height: 88%;
        height: 88%;
    }

    .primary-card-btn {
        @include common_button(131px, 40px);
        background: $off-white;
        border: 1px solid $purple;
        border-radius: 100px;
        color: $purple;
    }

    .card-btn-wrapper {
        text-align: end;
    }

    .card-title {
        @include font_stack(500, 1.15vw);
        line-height: 24px;
        color: $card-title-black;
        font-family: "Graphik";
        margin-left: 25px;
        max-width:160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 1.75vw;
    }

    .card-content {
        @include font_stack(400, 14px);
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $card-title-gray;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 43px;
    }
    .select-card-background {
      position: absolute;
      margin-top: -4px;
      width: 31px;
    }
    .select-icon-white {
      position: absolute;
      margin-left: 7px;
      margin-top: 5px;
    }
}

::ng-deep .full-screen-modal{
    .mat-dialog-container {
       overflow-x: hidden;
       padding-left: 0;
       padding-top: 0;
   }
}

.stepper {
  margin-top: 20px;
  min-width: 20%;
}



