<!-- <mat-card class="card" >
    <div (click)="getSelectedCase(cardDetail,i)">
    <mat-card-header class="card-Header">
      <img *ngIf="!cardDetail.selected" class="select-card-background"
        src="assets/images/select-card-background.png" alt="image">
      <img *ngIf="cardDetail.selected" class="select-card-background" src="assets/images/Ellipse.png" alt="image">
      <img class="select-icon-white" src="assets/images/select-icon-white.png" alt="image">               
      <mat-card-title title="{{cardDetail?.Title}}" class="card-title">{{cardDetail?.Title}}<span *ngIf="cardDetail.subTitle">
          {{cardDetail?.subTitle}}</span></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{cardDetail?.ImageSource}}" alt="Photo of a Shiba Inu">
    <mat-card-content class="in-detail-info">
      <p class="card-content">
        {{cardDetail?.Description}}
      </p>
    </mat-card-content>
    </div>
    <mat-divider></mat-divider>
    <mat-card-actions class="card-btn-wrapper">
      <a class="readMoreBtn" (click)="openDialog(cardDetail)"> Read More &nbsp;
        <mat-icon class="readMoreArrow">arrow_right_alt</mat-icon>
        <img src="../../../assets/images/readmorearrow-icon.png">
      </a>
    </mat-card-actions>
  </mat-card> -->
